*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(105, 78, 78);
}

html,body{
  width: 100%;
  height: 100%;
}


input, button{
  border: none;
  outline: none;
  color: white;
  padding: 20px 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;

  
}